</main>
<footer>
    <ul class="end-list">
    <li>International Number: +01-505848</li>
    <li>Toll-free Number: 100-05412561235210</li>
    <li>Email: airlineXYZ@nepalair.com</li>
    </ul>   
    <p class="end-paragraph"> Copyright &copy; Shiva Shrestha</p>
</footer>
<script src="/js/main.js"></script>
</body>

</html>