<div class="backdrop"> </div>
<a href="#"><img src="/images/airplane.ico" alt="An airplane" height="30px" class="airplane-img"></a>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <flight class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <form action="/admin-flight" method="POST" class="adminxyzabv"><button>Flights</button></form>
            </li>
            <li class="main-header__item">
                <form action="/admin-passenger" method="POST" class="adminxyzabv"><button>Passenger</button></form>
            </li>
            <li class="main-header__item">
                <form action="/admin-fair" method="POST" class="adminxyzabv"><button>Fair</button></form>
            </li>
        </ul>
        
    </flight>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <form action="/admin-flight" method="POST" class="adminxyzabv"><button>Flights</button></form>
                </li>
                <li class="mobile-nav__item">
                    <form action="/admin-passenger" method="POST" class="adminxyzabv"><button>Passenger</button></form>
                </li>
                <li class="mobile-nav__item">
                    <form action="/admin-fair" method="POST" class="adminxyzabv"><button>Fair</button></form>
                </li>
            </ul>
</nav>
<main>