<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="airline description">
        <div>XYZ Airlines</div>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam architecto facilis magnam fugit obcaecati esse deserunt tenetur quod facere blanditiis, aut laudantium sint provident molestias eum asperiores. Libero, debitis quisquam?</article>
    </main>

<%- include('includes/end.ejs') %>