<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/ticket-booking.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        
    <form class="ticket-form" action="/flight-info" method="POST">
        <fieldset>
        <legend> Ticket-Booking </legend>
        <table>
            <tr>
                <th>
        <div class="form-control">
            <label for="start-location">Flying From</label>
            <select name="start-location" id="start" required>
                <option selected disabled hidden> Starting-Location</option>
                    <option value="Kathmandu">Kathmandu</option>
                    <option value="Pokhara">Pokhara</option>
                    <option value="Biratnagar">Biratnagar</option>
                    <option value="Bharatpur">Bharatpur</option>
                    <option value="Birjung">Birjung</option>
                    <option value="Namche-Bajar">Namche-Bajar</option>
                    <option value="Itahari">Itahari</option>
                    <option value="Janakpur">Janakpur</option>
            </select>
        </div>
    </th>
        <th>
    
        <div class="form-control">
            <label for="destination">Flying to</label>
            <select name="destination" id="des" required>
                <option selected disabled hidden> Destination</option>
                    <option value="Kathmandu">Kathmandu</option>
                    <option value="Pokhara">Pokhara</option>
                    <option value="Biratnagar">Biratnagar</option>
                    <option value="Bharatpur">Bharatpur</option>
                    <option value="Birjung">Birjung</option>
                    <option value="Namche-Bajar">Namche-Bajar</option>
                    <option value="Itahari">Itahari</option>
                    <option value="Janakpur">Janakpur</option>
            </select>
        </div>
    </th>
    </tr>
    <tr>
        <th>
        <div class="form-control">
            <label for="Departure-Date">Departure-Date</label>
            <input type="date" name="Departure-Date" id="dep-date" required>
        </div>
        </th>
        <th>
        <div class="form-control">
            <label for="people_number">Number of people</label>
            <select name="people_number" id="t_quantity" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
            </select>
        </div>
        </th>
    </tr>
    <tr><th>
        <div class="form-control">
            <label for="seat_type">Type of seat</label>
            <select name="seat_type" id="seat_type" required>
                    <option value="E">Economy</option>
                    <option value="B">Business-Class</option>
                    <option value="F">First-Class</option>
            </select>
        </div>
        </th>
    </tr>
    </table>
        <br>
        <button  id="search" type="submit">Search</button>
    </fieldset>
    </form>
    <script src="/js/ticket-booking.js"></script>

<%- include('../includes/end.ejs') %>